main {
    background-color: var(--very-dark-desaturated-blue);
}

main footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 250;
}

main footer > * {
    margin-inline: 1em;
    cursor: pointer;
}

footer .sort-container > *:hover {
    font-weight: 400;
}

footer p {
    transition: 0.2s;
}

footer p:hover {
    font-weight: 400;
}

main .sort-container > * {
    margin-inline-start: 1em;
    transition: 0.2s;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.8em;
    padding: 0 0.5em 0 0.6em;
    border-bottom: 1px solid var(--very-dark-grayish-blue-2);
    cursor: pointer;
}

.todo.completed p {
    text-decoration: line-through;
    color: rgba(136, 136, 136, 0.944);
}

.todo:hover .remove-btn {
    display:block
}

.remove-btn {
    /* position: absolute;
    right: 5px;
    z-index: 10; */
    display: none;
    cursor: pointer;
}

.todo p {
    width: 100%;
    margin-inline: 1em;
    margin-block: 0;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue-2);
    width: 1.2em;
    height: 1.2em;
    padding: 0.7em;
    transition: 0.2s;
}

.checkbox:hover {
    opacity: 0.8;
}

.todo.completed .checkbox::before {
    content: "✔";
    font-size: 14px;
    font-weight: 100;
    color: white;
}

.todo.completed .checkbox {
    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

button.remove-btn {
    background-color: transparent;
    border: 0;
    color: var(--very-dark-grayish-blue-2);
    font-weight: 100;
    font-size: 20px;
}

todo:hover .remove-btn::before {
    content: "X";
}