*, *::before, *::after {
    box-sizing: border-box
}

body {
    display: grid;
    grid-template-columns: 1fr 25em 1fr;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/bg-desktop-dark.jpg);
    background-size: 100% 35vh; /* Set background size to cover only the top 30% of viewport height */
    background-position: center top; /* Align background image to the top */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    color: white;
}

.container {
    grid-column: 2;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
    width: 1.2em;
    height: 1.2em;
    padding: 0.7em;
    transition: 0.2s;
}

.checkbox:hover {
    opacity: 0.8;
}

.checkbox.active {
    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


