*, *::before, *::after {
    box-sizing: border-box
}

body {
    display: grid;
    grid-template-columns: 1fr 30em 1fr;
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* font-family: Josefin-Sans; */
    background-image: url(/images/bg-desktop-dark.jpg);
    background-size: 100% 30vh; /* Set background size to cover only the top 30% of viewport height */
    background-position: center top; /* Align background image to the top */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    color: white;
}

.container {
    grid-column: 2;
}




